<div class="header">
  <div class="header-title">
    <p class="main-title" routerLink="/posts" routerLinkActive="active">
      Private Social Network
    </p>
  </div>
  <div *ngIf="!isAuthenticated" class="header-buttons">
    <button class="button-login" routerLink="/login" routerLinkActive="active">
      Login
    </button>
    <button
      class="button-signup"
      routerLink="/signup"
      routerLinkActive="active"
    >
      Sign up
    </button>
  </div>
  <div *ngIf="isAuthenticated" title="Create Post" class="buttons">
    <fa-icon
      [ngStyle]="{ color: 'grey' }"
      (click)="create()"
      class="header-buttons"
      [icon]="faPlus"
    ></fa-icon>
  </div>
  <div
    *ngIf="isAuthenticated"
    title="Logut"
    class="buttons"
    routerLink="/login"
    routerLinkActive="active"
  >
    <fa-icon
      [ngStyle]="{ color: 'grey' }"
      (click)="logout()"
      class="header-buttons"
      [icon]="faSignOutAlt"
    ></fa-icon>
  </div>
  <div *ngIf="isAuthenticated">
    <p class="user">PSN/{{ username }}</p>
  </div>
</div>
