<app-navigation></app-navigation>
<span></span>
<div class="container">
  <span></span>

  <h2>
    Welcome to <br />
    Private Social Network!
  </h2>

  <span></span>
  <h5>
    Create an account by clicking
    <button class="text-button" routerLink="/signup" routerLinkActive="active">
      SIGNUP
    </button>
    and start posting.
  </h5>

  <h5>
    If you already have an account click
    <button class="text-button" routerLink="/login" routerLinkActive="active">
      LOGIN
    </button>
  </h5>
  <span></span>
</div>
